<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
	http://www.springframework.org/schema/context  
	http://www.springframework.org/schema/context/spring-context-4.2.xsd">  

	<context:component-scan base-package="com.app"></context:component-scan>		
		
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- Initialization for data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/userdb" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>
	
	<!-- Definition for EmployeeServiceImpl bean -->
  	<bean id="employeeService" class="com.app.service.EmployeeServiceImpl">
      	<property name="dataSource"  ref="dataSource" />    
  	</bean>
   
   	<!-- JSON Support -->
    <bean name="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
    <bean name="jsonTemplate" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
   
  		   
	 <mvc:resources mapping="/resources/**" location="/resources/" ></mvc:resources>
	 <mvc:annotation-driven />
	 <mvc:default-servlet-handler/>
	 
	 <!-- Exception Handling -->
	 <bean class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" p:order="1" />
		<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver" p:order="2" p:defaultErrorView="uncaughtException">
  		<property name="exceptionMappings">
		<props>
	  		<prop key="org.springframework.core.NestedRuntimeException.DataAccessException">dataAccessFailure</prop>
	  		<prop key="org.springframework.web.servlet.mvc.multiaction.NoSuchRequestHandlingMethodException">resourceNotFound</prop>
	  		<prop key="org.springframework.beans.TypeMismatchException">resourceNotFound</prop>
	  		<prop key="org.springframework.web.bind.MissingServletRequestParameterException">resourceNotFound</prop>
		</props>
  	 	</property>
	</bean>
   
</beans>